*{
  margin: 0;
  padding: 0;
}

.modalForm{
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 80%;
  border: solid 1px black;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 10;
  background-color: white;
}

.modalForm.active{
  transform: translate(-50%, -50%) scale(1);
}

div.formHead{
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 3px black;
}

.closeModal{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 3rem;
  font-weight: bold;
}

.queryItems{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: solid 1px black;
}

.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.addButtonDiv{
  display: flex;
  justify-content: center;
}

.add{
  width: 66%;
  border-radius-bottom: 15px;
}

#overlay{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active{
  pointer-events: all;
  opacity: 1;
}

.new{
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-bottom: solid 1px black;
}

.newButton{
  
}

#main{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.bookDiv{
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  padding: 1rem;
  margin: 1rem;
  max-width: 144px;
  min-width: 144px
}
